<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.lzlbog.chatting.mapper.FriendRequestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="club.lzlbog.chatting.entity.FriendRequest">
        <id column="friend_request_id" property="friendRequestId" />
        <result column="friend_requester" property="friendRequester" />
        <result column="friend_requested" property="friendRequested" />
        <result column="friend_request_status" property="friendRequestStatus" />
        <result column="request_time" property="requestTime" />
    </resultMap>


</mapper>
