<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.lzlbog.chatting.mapper.GroupMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="club.lzlbog.chatting.entity.GroupMessage">
        <id column="group_message_id" property="groupMessageId" />
        <result column="group_id" property="groupId" />
        <result column="group_message_sender" property="groupMessageSender" />
        <result column="group_message_content" property="groupMessageContent" />
        <result column="group_message_time" property="groupMessageTime" />
    </resultMap>


</mapper>
